<h2>検索結果</h2>

<table>
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nickname %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがMovieの時) -->
    <tbody>
      <% @movies.each do |book| %>
        <tr>
          <td><%= movie.title %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>