<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <h1>フォロワー</h1>
      <table class="table text-center">
        <thead>
          <tr>
            <th>ニックネーム</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to public_user_path(user) do %>
              <%= user.nickname %>
              <% end %>
            </td>
            <td>
              <% if user != current_user %>
              <% if user.is_followed_by?(current_user) %>
              <%= link_to public_user_relationships_path(@user), method: :delete do %>
              <button class="btn btn-danger">フォロー解除</button>
              <% end %>
              <% else %>
              <%= link_to public_user_relationships_path(@user), method: :post do %>
              <button class="btn btn-primary">フォロー</button>
              <% end %>
              <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>